[monitor]
monitoring.enby-collective.org

[monitor:vars]
receiving_email=receive@gmail.com
notifications_email=someone@gmail.com
notifications_email_password=password
nginx_user=nginx_user
nginx_password=nginx_password
domain_name = monitoring.enby-collective.org
letsencrypt_email = user@email.com

[all:vars]
ansible_user=ansible_user
ansible_port=22
ansible_ssh_private_key_file="~/.ssh/id_rsa"