[Unit]
Description=AlertManager Server Service
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/alertmanager --config.file /etc/alertmanager/alertmanager.yml --web.external-url=http://localhost:{{ alertmanager_port }} --cluster.advertise-address='0.0.0.0:{{ alertmanager_port }}'

[Install]
WantedBy=multi-user.target