global:
  resolve_timeout: 1m

route:
  receiver: "default-telegram" # see below

receivers:
- name: "default-telegram"
  telegram_configs:
  - bot_token: {{ notifications_telegram_token }}
    api_url: https://api.telegram.org
    chat_id: {{ notifications_telegram_chat_id }}
    disable_notifications: false
    http_config:
      follow_redirects: true
    send_resolved: false
    parse_mode: "MarkdownV2"

