global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - localhost:9093

scrape_configs:
  - job_name: "prometheus"
    scrape_interval: 5s
    static_configs:
      - targets: ["localhost:9090"]

{% for validator in validators %}
  - job_name: '{{ validator.name }} Node'
    scrape_interval: 10s
    scrape_timeout: 10s
    scheme: https
    static_configs:
        - targets: ['{{ validator.dns }}']
    metrics_path: "/node_exporter"
    basic_auth:
      username: '{{ validator.data_user }}'
      password: '{{ validator.data_password }}'

  - job_name: '{{ validator.name }} Process'
    scrape_interval: 10s
    scrape_timeout: 10s
    scheme: https
    static_configs:
        - targets: ['{{ validator.dns }}']
    metrics_path: "/process_exporter"
    basic_auth:
      username: '{{ validator.data_user }}'
      password: '{{ validator.data_password }}'
{% endfor %}