global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - "rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - localhost:9093

scrape_configs:
  - job_name: "prometheus"
    scrape_interval: 5s
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: 'kusama1 node'
    scrape_interval: 10s
    scrape_timeout: 10s
    scheme: https
    static_configs:
        - targets: ['{{ enby1_dns }}']
    metrics_path: "/node_exporter"
    basic_auth:
      username: '{{ data_user }}'
      password: '{{ data_password }}'

  - job_name: 'kusama1 process'
    scrape_interval: 10s
    scrape_timeout: 10s
    scheme: https
    static_configs:
        - targets: ['{{ enby1_dns }}']
    metrics_path: "/process_exporter"
    basic_auth:
      username: '{{ data_user }}'
      password: '{{ data_password }}'
