server {
  include ssl_server.conf;

  root /usr/share/nginx/html;
  index index.html index.htm;

  location /prometheus {
    proxy_pass http://localhost:9090/;

    auth_basic "Prometheus";
    auth_basic_user_file ".htpasswd";
  }
}